@import '~../default/style.css';

header {
    background-color: #494f59;
}

main nav {
    background-color: #f5f6f7;
    border-right: 1px solid #d6d8da;
    color: #444444;
}

#content {
    background: white;
}

.sidebar-section-list li {
    color: inherit;
    padding: 0;
    border: none;
    background: none;
    background-color: transparent;
}

.sidebar-section-list li > a {
    color: #7f8081;
}

.sidebar-section-list li > a.active {
    background: #e4e4e4;
    color: #0d59d2;
}

.bank-details .icon {
    box-sizing: border-box;
    height: 48px;
    width: 48px;
    border-radius: 0;
    border: 2px solid #cbcbcb;
    margin-left: 0;
}

.bank-details .bank-name {
    color: inherit;
}

.bank-details .bank-name .bank-sum {
    color: #898a8e;
}

.bank-details > li {
    border: none;
}

.bank-details > li.active .bank-name {
    color: #6792d8;
}

.bank-details > li > .accounts {
    margin-left: 0;
}

.bank-details > li > .accounts > li {
    margin-bottom: 1px;
}

.bank-details a {
    color: inherit;
}

.bank-details .amount.positive {
    color: #0d59d2;
}

.bank-details > li > .accounts > li a {
    border-left: 4px solid #cecece;
    color: inherit;
}

.bank-details > li > .accounts > li a:hover,
.bank-details > li > .accounts > li a:active {
    border-left-color: #6792d8;
    background-color: #e4e4e4;
}

.bank-details > li > .accounts > li a.active {
    background-color: #6792D8;
    border-left-color: transparent;
    color: white;
}

.bank-details > li > .accounts > li a.active:hover,
.bank-details > li > .accounts > li a.active:active {
    border-left-color: #5959d4;
}

.bank-details > li > .accounts > li a.active .amount.positive {
    color: white;
}

.bank-details > li > .accounts > li a.active .amount.negative {
    color: #f5a4a4;
}

.sidebar-section-list {
    border-top: 1px solid #c9cbd0;
    padding-top: 15px;
}

.sidebar-about {
    color: inherit;
}

.sidebar-about .desc {
    color: #898a8e;
}

.sidebar-about a {
    color: inherit;
}

.operation-wells .well {
    border: 1px solid currentColor;
    border-radius: 0;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.2);
    position: relative;
}

.well-icon {
    border-radius: 0;
    background-color: transparent;
    float: none;
    margin: 0;
    color: white;
    display: flex;
    font-size: 30px;
    text-align: center;
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    justify-content: center;
}

@media (max-width: 1350px) {
    .operation-wells .well-icon {
        height: 100%;
    }
}

@media (max-width: 620px) {
    .operation-wells .well-icon {
        background-color: white;
        width: 100%;
        height: auto;
        position: static;
    }
}

.well-title,
.well-sub {
    color: inherit;
}

.operation-wells .well.amount-well-balance {
    color: var(--wells-balance-color);
    background-color: transparent;
}

.operation-wells .well.amount-well-received {
    color: var(--wells-received-color);
    background-color: transparent;
}

.operation-wells .well.amount-well-spent {
    color: var(--wells-spent-color);
    background-color: transparent;
}

.operation-wells .well.amount-well-saved {
    color: var(--wells-saved-color);
    background-color: transparent;
}

@media (max-width: 620px) {
    .operation-wells .well-icon {
        color: inherit;
    }
}

@media (min-width: 620px) {
    .operation-wells .well.amount-well-balance .well-icon {
        background-color: var(--wells-balance-color);
        color: white;
    }

    .operation-wells .well.amount-well-received .well-icon {
        background-color: var(--wells-received-color);
        color: white;
    }

    .operation-wells .well.amount-well-spent .well-icon {
        background-color: var(--wells-spent-color);
        color: white;
    }

    .operation-wells .well.amount-well-saved .well-icon {
        background-color: var(--wells-saved-color);
        color: white;
    }
}

.well-icon * {
    align-self: center;
}

.operation-panel td {
    vertical-align: middle;
    border: 0;
}

.operation-panel .form-control:not(:hover):not(:focus):not(:active) {
    border-color: transparent;
    background-image: none;
}

.panel,
.panel-heading {
    border-radius: 0;
}

.panel-default > .panel-heading {
    background-color: transparent;
}

.panel.foldable .panel-heading {
    border: 0;
}

.panel.foldable .panel-body {
    border-top: 1px solid #cfd9db;
}

#content > div > .operation-panel {
    margin: 0;
    padding: 1em;
    border: 0;
    box-shadow: none;
}

#content > div > .operation-panel .panel-heading {
    border: 0;
}

#content > div > .operation-panel .panel-heading h3 {
    display: none;
}

#content > div > .operation-panel th,
#content > div > .operation-panel td {
    border-left: 0;
    border-right: 0;
}

#content > div > .operation-panel tr:nth-last-child(2) td {
    border: 0;
}
